streamlit              # Pour créer l'interface web interactive
pandas                 # Manipulation de données tabulaires (DataFrames)
numpy                  # Calculs numériques et matrices
matplotlib             # Visualisation graphique basique
scipy                  # Outils scientifiques, statistiques avancées
scikit-learn           # Machine learning classique (régression, clustering, etc.)
yfinance               # Récupération de données financières (Yahoo Finance)
plotly

